<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="khi.fast.log">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:icon="@drawable/flogg"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:noHistory="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreen"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.QuestionActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".activities.LogOverviewActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LogDetailsActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.PollingActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".scoring.CricketScoreCardActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FullScorecard2"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FullScorecard3"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.PointsTableActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TeamsOverview"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SelectTeamsActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.FanFavouriteActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MOM"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scoring.BBScoreCardActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".scoring.FutsalScoreActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PlatinumPlayers"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.GoldPlayers"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SilverPlayers"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SplashScreenFLOG"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SplashBack"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FlogMainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SelectedTeams"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FantasyScoringActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".activities.ResultFantasyActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".scoring.BadmintonScore"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".scoring.TTScore"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>


        <activity android:name=".scoring.VolleyballScore"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".flog_players.FlogPlayersActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".scoring.ThrowballScoreActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>


    </application>


</manifest>