<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="khi.fast.log">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize|keyboardHidden"
        android:icon="@drawable/flogg"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:noHistory="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashScreen"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.QuestionActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".Activities.LogOverviewActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LogDetailsActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.PollingActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Scoring.CricketScoreCardActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FullScorecard2"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FullScorecard3"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activities.PointsTableActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.TeamsOverview"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SelectTeamsActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Activities.FanFavouriteActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MOM"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Scoring.BBScoreCardActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Scoring.FutsalScoreActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FantacyLOGActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity android:name=".Activities.PlatinumPlayers"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.GoldPlayers"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SilverPlayers"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SplashScreenFLOG"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SplashBack"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FlogMainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SelectedTeams"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FantasyScoringActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".Activities.ResultFantasyActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".Scoring.BadmintonScore"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".Scoring.TTScore"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>


        <activity android:name=".Scoring.VolleyballScore"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".FlogPlayers.FlogPlayersActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".Scoring.ThrowballScoreActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>


    </application>


</manifest>